.form-container{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 30vw;
    height: 67vh;
    margin-top: 5vh;
    border: 1px solid grey;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
        width: 20%;
    }

    h3{
        font-weight: 500;
    }

    h5{
        opacity: 0.9;
        font-weight: 400;
    }

    .login-box{
        width: 65%;
        padding: 7px 15px;
        background-color: transparent;
        // color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
        transition: 300ms ease;
        border: 1px solid #000;
    }

    .login-box:hover{
        opacity: 0.9;
        // transform: translateY(-2px);
        scale: (1.01);
    }
}